body {
    background-image: url(img/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

form {
    width: 70%; 
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#BoxInf {
    width: 100%;
}

#BoxLeft h1 {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    color: royalblue;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

/* #BoxLeft h2 {
    font-size: 3rem;
    text-align: center;
    color: yellow;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
} */

#BoxCuerpo {
    display: flex;
    width: 100vw;
    height: 100svh;
}

#BoxLeft {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

#BoxRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logoImg {
    -webkit-user-drag: none;
    margin-top: -50px;
    margin-left: 35%;
    height: 200px;
    width: 200px;
}

#BoxContraseña {
    display: flex;
    position: relative;
}

#BoxVerContraseña {
    position: absolute;
    margin-top: 5px ;
    width: 50px;
    height: 50px;
    right: 22%;
}

label {
    opacity: 0%;
}

#VerContraseñaImg {
    display: none;
    -webkit-user-drag: none;
    margin-top: -2px;
    height: 30px;
    width: 30px;
}

#VerContraseñaBtn {
    background-color: transparent;
    height: 25px;
    border: none;
    padding: 0;
    margin-top: 19px;
    cursor: pointer;
    outline: none;
}

#usuario, #contraseña {
    width: 90%; 
    max-width: 235px;
    height: auto;
    border: 5px solid royalblue;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
    text-align: left;
    margin: -25px 30px 0 0;
}

#contraseña {
    width: 200px;
    padding-right: 45px;
    margin: 10px 100px 0 0;
}

input[type="submit"] {
width: 75px;
background-color: royalblue;
font-size: 15px;
border-radius: 100px;
border: none;
padding: 10px;
color: white;
text-align: center;
margin: 10px 30px 0 0;
font-weight: 700;
cursor: pointer;
}

/* #registro a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

#registro:hover {
    text-decoration: underline;
    color: white;
} */
